@import-normalize; /* bring in normalize.css styles */

:root {
  --darkText: #212932;
  --darkBody: #212932;
  --white: #ffffff;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  background: var(--white);
  color: var(--darkText);
  font-weight: 500;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

li {
  list-style: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

ul,
ol {
  list-style: none;
  padding: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  flex: 1 1 auto;
}

select {
  -webkit-appearance: none; /* Для браузеров на базе WebKit (например, Chrome, Safari) */
  -moz-appearance: none; /* Для браузеров на базе Gecko (например, Firefox) */
  appearance: none; /* Стандартное свойство, применяется в большинстве современных браузеров */
  background: transparent; /* Если нужно убрать фон внутри выпадающего списка */
}

.no-scroll {
  overflow: hidden;
}

.scrollable {
  overflow: auto;
}

/* .text {
  color: var(--darkText);

} */

.container {
  max-width: 1190px;
  padding: 0 15px;
  margin: auto;
}